<div class="card bg-light mt-4">
    <div class="card-header text-center">Add Employee</div>
    <div class="card-body">
        <form name="newEmployeeForm" #newEmployeeForm="ngForm">
            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="id-number-lbl">Id Number *</span>
                        </div>
                        <input type="text" class="form-control" 
                            pattern="[0-9a-zA-Z]+" required size="30"
                            aria-label="Id Number" aria-describedby="id-number-lbl"
                            id="idNumber" name="idNumber"
                            [(ngModel)]="newEmployee.idNumber" 
                            #idNumber="ngModel">
                    </div>
                    <p *ngIf="idNumber?.invalid && (idNumber?.touched || idNumber?.dirty)" class="text-center">
                        <small *ngIf="idNumber?.errors.required" style="color: red">Id Number is mandatory</small>
                        <small *ngIf="idNumber?.errors.pattern" style="color: red">Text does not comply with pattern</small>
                    </p>
                </div>

                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="full-name-lbl">Full Name *</span>
                        </div>
                        <input type="text" class="form-control" 
                            pattern="[a-zA-Z\s]+" required size="100"
                             aria-label="Full Name" aria-describedby="full-name-lbl"
                             id="fullName" name="fullName"
                             [(ngModel)]="newEmployee.fullName"
                             #fullName="ngModel">
                    </div>
                    <p *ngIf="fullName?.invalid && (fullName?.touched || fullName?.dirty)" class="text-center">
                        <small *ngIf="fullName?.errors.required" style="color: red">Full Name is mandatory</small>
                        <small *ngIf="fullName?.errors.pattern" style="color: red">Text does not comply with pattern</small>
                    </p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="area-lbl">Area *</span>
                        </div>
                        <select class="form-select" id="area" name="area"
                            [(ngModel)]="newEmployee.area" required
                            #area="ngModel">
                            <option [ngValue]="null">Select an option...</option>
                            <option *ngFor="let area of areas" [ngValue]="area">{{ area.name }}</option>
                        </select>
                    </div>
                    <p *ngIf="area?.invalid && (area?.selected || area?.dirty)" class="text-center">
                        <small style="color: red">Area is mandatory</small>
                    </p>
                </div>

                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="role-lbl">Role *</span>
                        </div>
                        <select class="form-select" id="role" name="role" 
                            [(ngModel)]="newEmployee.role" required
                            #role="ngModel">
                            <option [ngValue]="null" selected>Select an option...</option>
                            <option *ngFor="let role of newEmployee.area?.roles" value="{{ role.code }}">{{ role.name }}</option>
                        </select>
                    </div>
                    <p *ngIf="role?.invalid && (role?.selected || role?.dirty)" class="text-center">
                        <small style="color: red">Role is mandatory</small>
                    </p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="boss-id-number-lbl">Id Number of the boss *</span>
                        </div>
                        <input type="text" class="form-control" 
                            pattern="[0-9a-zA-Z]+" size="30"
                            aria-label="Id Number of the boss" aria-describedby="boss-id-number-lbl" 
                            id="bossIdNumber" name="bossIdNumber"
                            [(ngModel)]="newEmployee.bossId.idNumber"
                            #bossIdNumber="ngModel">
                    </div>
                </div>
            </div>
            
            <div class="row mb-3" *ngIf="msgResponse.msg">
                <div class="col-12 text-center">
                    <div  [ngClass]="msgResponse.success ? 'alert alert-success':'alert alert-danger'" role="alert">
                        {{ msgResponse.msg }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-primary me-3" 
                        (click)="addEmployee(newEmployeeForm)" 
                        [disabled]="newEmployeeForm?.invalid">Create Employee</button>

                    <button type="button" class="btn btn-secondary" [routerLink]="['/list-employees']">Back to
                        List</button>
                </div>
            </div>
        </form>
    </div>
</div>