<div class="container">
  <header class="text-center">
    <h1>Employee Management Application</h1>
  </header>

  <router-outlet></router-outlet>

  <footer class="text-center">
    <p>
      <i>This application was built by testing the development skills.</i>
    </p>
  </footer>

</div>