<div class="card bg-light mt-4 pb-4">
    <div class="card-header text-center">{{ (bossName === undefined || bossName === null) ?  'List All Employees' :'Subalterns List of ' + bossName  }}</div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id Number</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Area</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Boss</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees" >
                    <td>{{ employee.idNumber }}</td>
                    <td>{{ employee.fullName }}</td>
                    <td>{{ employee.area | area }}</td>
                    <td>{{ employee.role | role : employee.area }}</td>
                    <td>{{ employee.bossId?.fullName }}</td>
                    <td class="text-center">
                        <button class="btn btn-primary me-3"
                            (click)="getByBoss({ bossId: employee.idNumber, bossName: employee.fullName })">List Subalterns</button>
                       
                       
                         <button type="button" class="btn btn-primary"
                            [routerLink]="['/add-employee']" [queryParams]="{bossId: employee.idNumber}" queryParamsHandling="merge">Add Subaltern</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3" *ngIf="msgResponse.msg">
        <div class="col-12 text-center">
            <div  [ngClass]="msgResponse.success ? 'alert alert-success':'alert alert-danger'" role="alert">
                {{ msgResponse.msg }}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 text-center">
            <button type="button" 
                *ngIf="(bossId === undefined || bossId === null)"
                class="btn btn-primary" [routerLink]="['/add-employee']">Add Employee</button>
    
            <button type="button" 
                *ngIf="!(bossId === undefined || bossId === null)"
                class="btn btn-secondary" (click)="getAll()">Back to Full List</button>
        </div>
    </div>

</div>
<!--[queryParams]="{msg: message}" queryParamsHandling="merge"-->